@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */


.search {
  transition: width 0.3s;
  width: 65px;
}

.search:focus {
  width: 300px;
}

.delete-white {
  color: transparent;
  text-shadow: 0 0 white;
}

.delete-black {
  color: transparent;
  text-shadow: 0 0 black;
}